@model IEnumerable<Contato>


<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Ramal</th>
            <th>Email</th>
            <th>Setor</th>
            <th>Filial</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Ramal</td>
                <td>@item.Email</td>
                <td>@item.Setor.Nome</td>
                <td>@item.Setor.Filial.Nome</td>
            </tr>
        }
    </tbody>
</table>

